@import "tailwindcss";

@layer base {
  body {
    
    @apply bg-slate-50 text-slate-900;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease; 
  }

  
  .dark body {
    @apply bg-slate-950 text-slate-50;
  }
}


@layer components {
  .dashboard-card {
    @apply bg-white dark:bg-slate-900 border dark:border-slate-800 shadow-sm rounded-lg;
  }
}

@media print{
  .no-print{
    display: none !important;
  }
}